<% @brides.each do |bride| %>
    <div>
    <strong>Bride Name: <%= bride.name %> </strong>
    <br>
    <%= link_to 'See Bride', bride_path(bride) %>
    <br>
    Groom's Name: <%= bride.grooms_name %>
    <br>
    <% @bridesmaids = bride.bridesmaids %>
    <%= render partial: "bridesmaids/bridesmaid_dresses" %>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<% end %>