<div class="row">

<% @bridesmaids.each do |bridesmaid| %>
    <div class="column" style="float:left">
        <img src="<%=bridesmaid.dress.link%>" alt="bridesmaid dress" height="250" >
        <br>
        Name: <%= bridesmaid.name %><br>
        Dress Material: <%= bridesmaid.dress.material %><br>
        Length: <%= bridesmaid.dress.length %> inches
    <br>
    <br>
    </div>
<% end %>

</div>