Dresses
<br>
<html>
<% @dresses.each do |dress| %>
    <br>
    <img src="<%=dress.link%>" alt="dress" height="250" >
    <br>
    Dress Material: <%= dress.material %>
    <br>
    Dress Length: <%= dress.length %> inches
    <br>
    <%= link_to 'Edit Dress', edit_dress_path(dress) %>
<% end %>
</html>

<div id="dresses"></div>
